@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    max-width: 100vw;
    overflow-x: hidden;
    padding: 32px;
}

.container{
    padding: 80px 0;
}

.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 96px 0;
}

a{
    text-decoration: none
}

.purple{
    color: #6415ff;
}

h1{
    color: #1a202c;
    font-size: 48px;
}

p{
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.6;
}



h5{
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.6px;
    margin-bottom: 16px;
}

h2{
    font-size: 48px;
    color: #243e63;
    font-weight: 900;
    margin-bottom: 32px;
}

h3{
    color: #243e63;
    font-weight: 700;
}

/*

NAV

*/

.row__nav{
    padding: 0;
}

.nav{
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 24px;
    font-weight: 900;
    color: #243e63;
    letter-spacing: 0.5px;
    margin-right: 24px;
    display: flex;
    align-items: center;
    transition: all 300ms ease;
}

.logo:hover{
    color: #6415ff;
}

.logo__img{
    width: 100%;
    max-width: 40px;
    margin-right: 12px;
}

ul{
    display: flex;
}

li{
    list-style: none;
}


.nav__link{
    margin: 0 24px;
    padding-bottom: 4px;
    font-size: 14px;
    font-weight: 600;
    color: #243e63;
    transition: all 300ms ease;
}

.nav__link:hover{
    border-bottom: solid 2px;
    color: #6415ff;
}

.nav__link--login{
    margin: 0 24px 0 48px;
}

.btn{
    background-color: #6415ff;
    color: #f7fafc;
    margin: 0;
    padding: 12px 32px;
    border-radius: 50px;
    border: none;
    font-weight: 700;
    transition: all 300ms ease;
}

.btn:hover{
    background-color: #3c0d99;
    border-bottom: none;
    color: #f7fafc;
    cursor: pointer;
}

.btn__menu{
    background-color: transparent;
    border: none;
    text-align: center;
    font-size: 22px;
    transition: all 300ms ease;
    display: none;
}

.btn__menu:hover{
    cursor: pointer;
    color: #6415ff;
}

.menu__backdrop{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
    margin: 24px 16px;
    border-radius: 8px;
    border: 1px solid #d0d4db;
    background-color: rgb(255 255 255);
    text-align: center;
    padding: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
    opacity: 0;
    visibility: hidden;
}

.menu--open .menu__backdrop{
    visibility: visible;
    opacity: 1;
}

.menu__links{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__list{
    text-align: center;
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__link{
    color: #1a202c;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 4px;
    border-bottom: solid 2px white;
    transition: all 300ms ease;
}

.menu__link:hover{
    border-bottom: solid 2px;
    color: #6415ff;
    padding-bottom: 4px;
}

.menu__link--primary{
    color: #f7fafc;
    padding-bottom: 12px;
    border-bottom: none;
}

.menu__link--primary:hover{
    border-bottom: none;
    color: #f7fafc;
    padding-bottom: 12px;
}

.btn__menu--close{
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 8px;
}

/*

Header

*/

.row__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__description{
    display: flex;
    flex-direction: column;
    width: 40%;
    max-width: 32rem;
    position: relative;
    margin: 0 auto;
}

.header__description--para{
    margin: 32px 0;
    color: #243e63;
    font-weight: 400;
}

.header__email{
    position: relative;
    margin: 0 auto;
    max-width: 448px;
    text-align: center;
}

.email__input{
    width: 100%;
    border: 2px solid rgb(226, 232, 240);
    border-radius: 50px;
    padding: 24px 192px 24px 32px;
    font-weight: 500;
    font-size: 16px;
    transition: all 300ms ease;
}

.email__input:hover{
    border-color: rgb(160, 174, 192);
}

.btn__email{
    position: absolute;
    right: 0;
    top: 0;
    bottom:0;
    margin: 8px;
    width: 100%;
    max-width: 160px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: #6415ff;
    padding: 16px 0;
    color: #f7fafc;
    font-size: 16px;
    font-weight: 700;
    border: none;
}

.header__credits{
    margin-top: 80px;
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.header__img-credits{
    margin-top: 16px;
    width: 100%;
    padding-right: 64px;
    opacity: 0.5;
}

.header__desk{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header__img-desk--wrapper{
    display: flex;
    justify-content: end;
    align-items: center;
}

.header__img-desk{
    width: 100%;
    max-width: 512px;
}

/*

FEATURES

*/

.row__features{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.h2__features{
    text-align: center;
}

.features__title{
    text-align: center;
}

.features__para{
    width: 100%;
    max-width: 576px;
    margin-bottom: 40px;
    text-align: center;
}

.service__wrapper{
    display: flex;
    flex-wrap: wrap;
}

.service{
    width: calc(100%/3);
    padding: 0 24px;
    display: flex;
    align-items: flex-start;
    padding: 32px 8px;
}

.service__img{
    border: 1px solid rgb(226, 232, 240);
    color: #6415ff;
    border-radius: 50px;
    text-align: center;
    padding: 20px;
    font-size: 24px;
}

.service__description{
    display: flex;
    flex-direction: column;
    margin: 8px 16px;
    max-width: 207px;
    width: 100%;
}

.service__title{
    font-size: 24px;
    margin-bottom: 16px;
}

.service__para{
    font-size: 16px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 2;
}

/*

QUALITY

*/

.row__quality{
    display: flex;
    align-items: center;
}

.quality__description{
    width: 50%;
    display: flex;
    flex-direction: column;
}


.btn__quality{
    margin-top: 30px;
}

.quality__screenshot-img{
    width: 50%;
}

.quality__img--wrapper{
    display: flex;
    border: 1px solid #d0d4db;
    border-radius: 4px;
}

.quality__img{
    width: 100%;
}

/*

STEPS

*/

.row__steps{
   display: flex;
   align-items: center;
   justify-content: center;
}

.steps__laptop{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.steps__img{
    width: 100%;
}

.steps__description{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 64px;
}


.h2__steps{
    margin-bottom: 16px;
}

.steps__list{
    display: flex;
    flex-direction: column;
}

.steps__info--wrapper{
    display: flex;
    margin-top: 32px;
}

.steps__number{
    color: #cbd5e0;
    font-size: 36px;
    font-weight: 600;
}

.steps__info{
    margin-left: 24px;
    display: flex;
    flex-direction: column;
}

h6{
    font-size: 20px;
    color: #243e63;
    margin-bottom: 24px;
}

.steps__para{
    color: #718096;
    font-size: 14px;
    font-weight: 500;
    line-height: 2;
    max-width: 320px;
}

/*

VALUES

*/

.row__values{
    display: flex;
    align-items: center;
    justify-content: center;
}

.values__description{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-right: 16px;
}

.value--wrapper{
    display: flex;
}

.value{
    display: flex;
    flex-direction: column;
    margin: 32px 32px 0 0;
}

.value__img-title{
    display: flex;
    align-items: center;
}

.fa-dollar-sign{
    color: rgb(3, 95, 3);
    background-color: #9ae6b4;
    padding: 10px 12px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 400;
}

.fa-suitcase{
    color: rgb(163, 16, 16);
    background-color: #feb2b2;
    padding: 10px;
    border-radius: 50px;
    font-size: 18px;
}

.value__title{
    font-size: 20px;
    margin-left: 12px;
}

.value__para{
    margin-top: 16px;
    font-size: 16px;
    font-weight: 400;
    color: #718096;
}

.btn__value{
    margin-top: 48px;
}

.value__prototype{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.value__img{
    width: 100%;
}

/*

PRICING

*/

.row__pricing{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.h2__pricing{
    text-align: center;
}

.pricing__para{
    width: 100%;
    max-width: 576px;
    text-align: center;
}

.plans{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.plan{
    width: calc(100%/3);
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 64px;
    margin-right: 16px;
    border-radius: 8px;
    border-style: solid;
    border-color: #e6ebf293;
    border-width: 0 2px 2px 2px;
    padding: 8px 16px 0 16px;
    text-align: center;
}

.plan__highlight{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.green{
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.red{
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}


.plan__header{
    display: flex;
    flex-direction: column;
    padding: 32px 0;
    line-height: 1.625;
}

.plan__title{
    font-size: 20px;
    font-weight: 700;
    color: #1a202c;
}

.plan__price{
    font-size: 48px;
    font-weight: 700;
    color: #1a202c;
    margin: 4px 0;
}

.plan__duration{
    color: #a0aec0;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.6px;
}

.plan__features{
    display: flex;
    flex-direction: column;
    margin: 0 -16px;
    padding: 32px;
    border-style: solid;
    border-color: rgb(226, 232, 240);
    border-width: 2px 0;
}

.plan__feature {
    color: #718096;
    margin-top: 20px;
    font-weight: 500;
    font-size: 16px;
}

.plan__feature-primary{
    font-size: 20px;
    font-weight: 700;
    color: #1a202c;
    margin-top: 0;
}

.plan__action{
    padding: 32px 16px;
}

.btn__plan{
    font-size: 14px;
    font-weight: 700;
    padding: 16px 32px;
    border-radius: 50px;
    border-style: none;
    width: 100%;
    max-width: 185px;
    color: #f7fafc;
    cursor: pointer;
    transition: all 300ms ease;
}

.btn__plan:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
}

.indigo{
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    border-color: rgb(102, 126, 234)
}

.white{
    color: #f7fafc;
}

.btn__purple{
    color: #6415ff;
}

/*

FOOTER

*/

footer{
    background-color: #6415ff;
    margin: -32px;
}

.links{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    padding: 0 8px;
}


.link{
    display: flex;
    flex-direction: column;
}

.link__title{
    color: #f7fafc;
}

.footer__container--links{
    display: flex;
    flex-direction: column;
}

.footer__link--title{
    margin-top: 12px;
}

.footer__link{
    color: #f7fafc;
    font-weight: 500;
    font-size: 14px;
    padding-bottom: 4px;
    transition: all 300ms ease;
}

.footer__link:hover{
    border-bottom: solid 2px;
    color: #f7fafc;
}

.footer__divider{
    margin: 64px 0;
    width: 100%;
    border: 1px solid rgb(116 44 255);
}

.footer__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
}

.footer__logo{
    font-size: 20px;
    font-weight: 900;
    color:#f7fafc;
    letter-spacing: 0.5px;
    margin-right: 24px;
    display: flex;
    align-items: center;
}

.logo__img--footer{
    max-width: 34px;
}

.footer__copyright{
    color: #cbd5e0;
    font-size: 16px;
    font-weight: 500;
}

.social__link{
    background-color: #f7fafc;
    border-radius: 50px;
    padding: 8px; 
    margin-right: 16px;
    transition: all 300ms ease;   
}

.social__link:hover{
    background-color: rgb(203 213 224);
}

.link-f{
    padding: 8px 8px 8px 12px
}
.link-t{
    padding: 8px 6px 8px 10px;
}

.link-y{
    padding: 8px 9px;
}

.fa-brands{
    color: #1a202c;
}


@media (max-width:1024px){
    .nav__links{
        display: none;
    }

    .btn__menu{
        display: block;
    }
    
    .row__header{
        flex-direction: column;
    }

    .header__description{
        width: 100%;
    }

    .header__credits{
        text-align: center;
    }

    .header__img-credits{
        padding: 0;
        display: flex;
        justify-content: center;
    }

    .header__desk{
        width: 100%;
        margin-top: 48px;
    }

    h1{
        font-size: 30px;
    }

    p{
        font-size: 16px;
    }

    .header__description--para{
        font-size: 16px;
        margin: 20px 0;
    }

    .service{
        width: calc(100%/2);
    }

    h2{
        margin-bottom: 16px;
    }

    .h2__small{
        font-size: 36px;
    }

    h6{
        margin-bottom: 12px;
    }

    .value--wrapper{
        flex-direction: column;
    }

    .value__para{
        width: 70%;
    }

    .plans{
        flex-direction: column;
        align-items: center;
    }

    .plan{
        width: 100%;
        max-width: 384px;
    }

}

/* Small phones, tablets, large smartphones */

@media (max-width:768px){

    h2, h1, p, h6, h5{
        text-align: center;
    }  
    
    p{
        font-size: 14px;
    }

    .service__wrapper{
        flex-direction: column;
    }
    .service{
        width: 100%;
    }
    .row__quality, .row__steps, .row__values{
        flex-direction: column;
    }

    .quality__description, .values__description{
        width: 70%;
        align-items: center;
        justify-content: center;
    }

    .quality__screenshot-img, .value__prototype{
        width: 100%;
        max-width: 448px;
        margin-top: 48px;
    }

    .steps__laptop{
        width: 100%;
        max-width: 448px;
    }

    .steps__description{
        width: 70%;
        align-items: center;
        justify-content: center;
        margin-top: 48px;
        margin-left: 0;
    }

    .steps__info--wrapper{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .steps__info{
        margin-left: 0;
    }

    .steps__number{
        margin-bottom: 12px;
    }

    .values__description{
        margin-right: 0;
    }

    .value{
        margin-right: 0;
        align-items: center;
    }

    .value__info{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .links{
        justify-content: center;
    }

    .link{
        width: calc(100%/3);
        align-items: center;
    }

    .footer__container--links{
        align-items: center;
    }

    .link__title{
        margin: 16px 0;
    }

    .footer__info{
        flex-direction: column;
        justify-content: center;
    }

    .footer__logo{
        margin-right: 0;
    }

    .footer__copyright, .footer__socials{
        margin-top: 32px;
    }

    .link-y{
        margin-right: 0;
    }
}


/* SMALL PHONES, LARGE SMARTPHONES */

@media (max-width: 550px){
    .header__email{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .btn__email{
        position: relative;
        max-width: none;
    }

    h2{
        font-size: 36px;
    }

    .h2__small{
        font-size: 30px;
    }

    .service{
        flex-direction: column;
        align-items: center;
    }

    h3{
        text-align: center;
    }

    .value__para{
        width: 100%;
    }
}